/*		loop yur taim		*/

html, body {
	margin: 0;
	padding: 0;
	font-size: 100%;
	background: #F1F1F1;
}

h1, h2, h3, h4, h5, h6 { font-family: 'Source Sans Pro', sans-serif; letter-spacing: 1px; color: #333; }
p, span {	font-family: 'Source Sans Pro', sans-serif; color: #333; line-height: 1.4; }

::selection {
	color: white;
	background-color: #f15d2f;
}
/*::-moz-selection {
	color: black;
	background-color: #f15d2f;
}*/

.hidden { display: none; }









.container { 
	width: 90%;
	max-width: 60em;
	margin: 0 auto;
	padding: 3em 0 0;
}








.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}


