/*		loop yur taim		*/

html, body {
	margin: 0;
	padding: 0;
	font-size: 100%;
	background: #F1F1F1;
}
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 { font-family: 'Source Sans Pro', sans-serif; letter-spacing: 1px; color: #333; }
p, span {	font-family: 'Source Sans Pro', sans-serif; color: #333; line-height: 1.4; }

::selection {
	color: white;
	background-color: #f15d2f;
}
/*::-moz-selection {
	color: black;
	background-color: #f15d2f;
}*/

.hidden { display: none; }









.container { 
	width: 95%;
	max-width: 40em;
	margin: 0;
	padding: 1em;
}

#time-collection {
	list-style: none;
	padding: 0;
}
.time-item {
	padding: 1em 2em;
	margin: 0 0 1em;
	width: 90%;
	/*max-width: 50em;*/
	position: relative;
}
.normal {
	background: #cacaca;
}
.time-name {}
.time-amount {
	float: right;
}
.time-amount:after {
	content: ' minute(s)';
}
.time-delete, .time-repeat {
	position: absolute;
	color: white;
	padding: 0.25em;
	line-height: 1;
	cursor: pointer;
	width: 1.5em;
	text-align: center;
	-o-transition: background 0.2s ease-in;
	-ms-transition: background 0.2s ease-in;
	-moz-transition: background 0.2s ease-in;
	-webkit-transition: background 0.2s ease-in;
	transition: background 0.2s ease-in;
}
.time-delete {
	background: red;
	top: 0em;
	right: -2.5em;
}
.time-repeat {
	background: green;
	top: 1.5em;
	right: -2.5em;
}
.time-delete:hover {
	background: #333;
}
.time-repeat:hover {
	background: palegreen;
}
.time-visual {
	display: none;
	position: absolute;
	background: #555;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0.01%;
	transition-property: right;
	transition-timing-function: linear;
}
.button {
	display: block;
	text-align: center;
	padding: 0.5em;
	color: white;
	background: lime;
}
.activation {
	font-size: 1.5em;
	background: pink;
}








.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}


